{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor URB</title>

    <!-- BOOTSTRAP 5 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- CSS  -->
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary " style="background-color: #0f2027;" > <!-- style="background-color: #0f2027;" -->
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Universidad de Roderick Bushfield</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>

              <!-- Navbar HTML code -->
              {% if user.is_authenticated %}
              <!-- Mostrar el botón de cierre de sesión -->
              <!--<a href="{% url 'logout' %}" class="nav-link">Log out</a>-->
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Menu
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuButton">
                  <li><a class="dropdown-item" href="#">Ver perfil</a></li>
                  <li><a class="dropdown-item" href="https://www.office.com/" target="_blank">Office 365</a></li>
                  <li><a class="dropdown-item" href="#">Ver proyectes</a></li>
                </ul>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Log out</a>
              </li>

              <!-- <li class="nav-item">
                <a class="nav-link" href="#">Ver proyectes</a>
              </li> -->
              {% else %}
              <!-- Mostrar el botón de inicio de sesión -->
              <li class="nav-item">
                <a class="nav-link" href="/nada">Log in</a>
              </li>
              {% endif %}
              <!-- Resto del HTML del navbar -->

              <!-- <li class="nav-item">
                <a class="nav-link" href="/nada">Log in</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Log out</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
              </li>

              <!--
              <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="navbarDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Ver perfil</a>
                    <a class="dropdown-item" href="#">Office 365</a>
                    <a class="dropdown-item" href="#">Ver proyectes</a>
                </div>
              </div> -->
               
              
            
              <!--
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Menu
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuButton">>
                  <li><a class="dropdown-item" href="#">Ver perfil</a></li>
                  <li><a class="dropdown-item" href="#">Office 365</a></li>
                  <li><a class="dropdown-item" href="#">Ver proyectes</a></li>
                </ul>
              </li>  -->
            
              <!-- <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
          </div>
        </div>
      </nav>
      <!--  -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" 
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" 
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {%block content%}
    {%endblock%}
</body>

</html>