{%extends "layout.html"%}
{%block content%}
    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesion</title>
</head>
<body>
    <p>Inicio de sesion requerido</p>
    <form method="post">
        {% csrf_token %}
        <label form="usuario">
            <input type="text" name="username">
        </label>
        <label form="pass">
            <input type="password" name="password">
        </label>
        <button type="submit">Iniciar sesion</button>
    </form>
</body>
</html>

{%endblock%}