body{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    color:white;
}

*{margin: 0; padding: 0;
    box-sizing: border-box;}
.header{width:100%;
    background-image: linear-gradient(to right, #b92b27, #1565c0);
}
.navbar-brand{color: white !important;}
.navbar-brand:hover{color: #4286f4!important;}
.nav-link{color: white!important;}
.nav-link:hover{color: #4286f4!important;}